<ion-view view-title="">
  <ion-content>
    <div class="home-adv-title">Sponsers</div>
    <div class="row home-adv-bar"  cg-busy="adsPromise">
      <div class="col" ng-repeat="ad in data.ads" ng-click="openAd(ad)"><ng-image source="{{ad.thumbnail}}" class="home-adv"></div>
    </div>
    
    <div cg-busy="featuredPromise">
      <!--Products-->
      <ion-slide-box does-continue="true" pager-click="pagerClick(index)">
        <ion-slide ng-repeat="fp in data.featured | filter:{post_type:'product'}">
          <div class="item iid-item-container" ng-click="openDetails(fp)">
                <div class="iid-item">
                <iid-favorite item-id="{{fp.id}}" ng-show="loggedIn"></iid-favorite>
                <ng-image source="{{fp.thumbnail}}"></ng-image>
                <div class="iid-item-data">
                    <div class="iid-item-data-title">{{fp.post_title}}</div>
                    <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                </div>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      
      <!--Designers-->
      <ion-slide-box does-continue="true" pager-click="pagerClick(index)">
        <ion-slide ng-repeat="fp in data.featured | filter:{post_type:'designer'}">
          <div class="item iid-item-container" ng-click="openDetails(fp)">
                <div class="iid-item">
                <ng-image source="{{fp.thumbnail}}"></ng-image>
                <div class="iid-item-data">
                    <div class="iid-item-data-title">{{fp.post_title}}</div>
                    <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                </div>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      
      <!--showroom-->
      <ion-slide-box does-continue="true" pager-click="pagerClick(index)">
        <ion-slide ng-repeat="fp in data.featured | filter:{post_type:'showroom'}">
          <div class="item iid-item-container" ng-click="openDetails(fp)">
                <div class="iid-item">
                <ng-image source="{{fp.thumbnail}}"></ng-image>
                <div class="iid-item-data">
                    <div class="iid-item-data-title">{{fp.post_title}}</div>
                    <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                </div>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      
      <!--catalog-->
      <ion-slide-box does-continue="true" pager-click="pagerClick(index)">
        <ion-slide ng-repeat="fp in data.featured | filter:{post_type:'catalog'}">
          <div class="item iid-item-container" ng-click="openDetails(fp)">
                <div class="iid-item">
                <ng-image source="{{fp.thumbnail}}"></ng-image>
                <div class="iid-item-data">
                    <div class="iid-item-data-title">{{fp.post_title}}</div>
                    <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                </div>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      
      <!--house-->
      <ion-slide-box does-continue="true" pager-click="pagerClick(index)">
        <ion-slide ng-repeat="fp in data.featured | filter:{post_type:'house'}">
          <div class="item iid-item-container" ng-click="openDetails(fp)">
                <div class="iid-item">
                <ng-image source="{{fp.thumbnail}}"></ng-image>
                <div class="iid-item-data">
                    <div class="iid-item-data-title">{{fp.post_title}}</div>
                    <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                </div>
                </div>
            </div>
        </ion-slide>
      </ion-slide-box>
      
    </div>
  </ion-content>
</ion-view>
