<ion-view view-title="">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Filter" ng-model="searchFilter">
            </label>
        </div>
        <div cg-busy="housesPromise">
            <div class="item iid-item-container" collection-repeat="v in filteredData = (data.houses | filter:{post_title:searchFilter})" item-width="100%" item-height="264px" ng-click="goToDetails(v)">
                <div class="iid-item">
                    <ng-image source="{{v.thumbnail}}"></ng-image>
                    <div class="iid-item-data">
                        <div class="iid-item-data-title">{{v.post_title}}</div>
                        <div class="iid-item-data-arrow"><i class="ion-chevron-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="item item-no-data" ng-show="data.houses.length > 0 && filteredData.length < 1">No data</div>
        </div>
    </ion-content>
</ion-view>
