<ion-view view-title="">
  <ion-content class="products">
    <!--<div class="item">
      <h1>{{data.user.displayname}}</h1>
    </div>-->
    
    <div class="item" ng-show="data.res_products != null && data.fav_products.length > 0">Favorite Products</div>
    <div class="list product-item-container profile-product-item" ng-repeat="p in data.fav_products" ng-click="openProduct(p)">
      <div class="product-item">
        <ng-image source="{{p.thumbnail}}" class="full-image"></ng-image>
        <div class="iid-item-data">
            <div class="iid-item-data-title">{{p.post_title}}</div>
            <div class="iid-item-data-desc">{{p.brand.post_title}}</div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>

