<ion-view view-title="">
    <ion-content>
        <div cg-busy="productPromise">
            <ion-slide-box does-continue="true" auto-play="true" pager-click="pagerClick(index)">
                <ion-slide ng-repeat="photo in data.product.gallery">
                    <div class="product-gallery">
                        <ng-image source="{{ photo.url }}" class="product-gallery-img" />
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="padded-div">
                <h2>{{data.product.post_title}}</h2>
                <div>{{data.product.description}}</div>
            </div>
            <div ng-show="loggedIn" class="padded-div">
                <h4>Rate</h4>
                <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
            </div>
            <div class="button-bar">
                <a class="button icon-left ion-share button-calm" ng-click="share()">Share</a>
                <a class="button icon-left ion-bag button-calm" ng-click="reserve()" ng-disabled="isProductReserved" ng-show="loggedIn">Reserve</a>
            </div>
        </div>
    </ion-content>
</ion-view>
